

<% if session[:player_pot] == 0 %>
  <% @error = "You're out of money!" %>
  <h2>New game?</h2>
  <a href="/new_player" class="btn btn-primary">Yes</a>
  <a href="/game_over" class="btn">No</a>
<% elsif @play_again %>
  <h2>Deal again?</h2>
  <a href="/make_bet" class="btn btn-primary">Yes</a>
  <a href="/game_over" class="btn">No</a>
<% else %>
  <h2>Let's play blackjack!</h2>
<% end %>

<span class="label label-info">
<h4>Pot size: $<%= session[:player_pot] %></h4>
</span>

<div class="well">
  <% if @show_dealer_hand %>
    <h4>Dealer's cards:</h4>
      <% session[:dealer_cards].each do |card| %>
        <%= card_image(card)%>
      <% end %>
    <br/>
    <h5>Dealer's total: <%= calculate_hand_total(session[:dealer_cards]) %></h5>
    <% if @show_dealer_hit_button %>
      <form id="hit_form" action="/game/dealer/hit" method='post'>
        <input type="submit" class="btn btn-primary" value="See dealer's next card..." />
      </form>
    <% end %>
    <br/>
  <% else %>
    <h4>Dealer's cards:</h4>
      <%= card_image(session[:dealer_cards][0])%>
      <img src='/images/cards/cover.jpg' >
  <% end %>
</div>

<br/>

<div class="well">
  <h4><%= session[:player_name]%>'s cards:</h4>
    <% session[:player_cards].each do |card| %>
    <%= card_image(card)%>
    <% end %>
  <br/>
  <h5><%= session[:player_name]%>'s total: <%= calculate_hand_total(session[:player_cards]) %></h5>
  <br/>

  <% if @show_hit_or_stay_buttons %>
    <form id="hit_form" action="/game/player/hit" method='post'>
      <input type="submit" class="btn btn-primary" value="Hit" />
    </form>

    <form id="stay_form" action="/game/player/stay" method='post'>
      <input type="submit" class="btn btn-danger" value="Stay" />
    </form>
    <br/>
  <% end %>
</div>



